.numbers{
  background-color:green;
  color:white;
  font-size:30px;
  margin-right:20px;
  margin-bottom:20px;
  width:60px;
  text-align:center;
  padding-right:1.5px;
  padding-top:1.5px;
  cursor:pointer;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
}
#bus{
/*   display:flex;
  flex-flow: row wrap; */
  overflow:auto;
  align-content: center;
/*   padding-left:7.5%;
  padding-top:15%; */
/*   border-top-left-radius:20%;
  border-top-right-radius:20%; */
  position:relative;
    
}
#sseat{
/* position:absolute;
  top:50%;
  left:50%;
   */
}

.red{
  display: inline-block;
  width:auto;
  color:white;
  padding:10px;
  height:auto;
  Background-Color:red;
  margin-bottom:10px;
  
}

.green{
  display: inline-block;
  width:auto;
  color:white;
  padding:10px;
  height:auto;
  Background-Color:green;
  margin-bottom:10px;
  
}
.blue{
  display: inline-block;
  width:auto;
  color:white;
  padding:10px;
  height:auto;
  background-color:blue;
  margin-bottom:10px;
  
}

#price{
/*   position:absolute;
  top:60%;
  left:50%; */
}
.parent{
  width:100%;
  overflow:auto;
}

.child1{
  padding-left:42px;
  padding-top:40px;
  padding-bottom:20px;
  align-content:center;
  text-align:center;
  border:2 px solid white;
  width:35%;
  float:left;
  overflow:auto;
}
.inline{
  float:left;
}
.child2{
  padding-left:165px;
  width:60%;
  overflow:auto;
  float:left;
  
}
.container{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;

}
#next{
    visibility: hidden;
  border: none;

 }

